.stats-container {
  text-align: center;
  padding: 80px 20px 50px 20px;

  background-image: url(https://asp.misa.vn/Content/Images/PNG/Home/Home_New/icon/bg_Counting.png);
  color: white;
  font-family: AvertaStdCY, Helvetica, Arial, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px auto;
  max-width: 1170px;
}

.search-div, .location-select-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-div {
  margin-right: 150px;
}

.location-select-wrapper {
  margin-right: 10px;
  margin-left: 200px;
  border: 1px solid #ccc;
   border-right: none;
  border-bottom: none;
  border-top: none;

}

.pre-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 5px;
}

.service-icon-search {
  
    background: url(https://asp.misa.vn/Content/Images/SVG/ic_sprites_2.svg) no-repeat -762px -1736px;
    width: 24px;
    height: 24px;
    left: 20px !important;
}

.location-icon {
  background: url(https://asp.misa.vn/Content/Images/SVG/ic_sprites_3.svg) no-repeat -619px -1300px;
    width: 24px;
    height: 24px;
    margin: 10px 0px 10px  15px;
    
    
}

.search-input {
  padding: 10px 20px 10px 0px;
  border: 0;
  border-radius: 4px;
  flex: 1;
}

.location-select {
  padding: 10px;
  border: 0px solid #ccc;
  
  outline: none;
  font-size: 14px;
  flex: 1;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 20px;
 
}

.stat {
  text-align: center;
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.stat h3 {
  font-size: 3.5em;
  margin: 0;
}

.stat p {
  margin: 5px 0 0;
  font-size: 1.1em;
}


/* Video Section Styles */
.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 150px;
  background-color: #fff;
  flex-wrap: wrap;
  column-gap: 29px;
}

.video-container {
  position: relative;
  max-width: 70%;
  flex: 1;
  padding-left: 180px;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-button svg {
  fill: #fff;
}

.cta {
  max-width: 50%;
  flex: 1;
  padding: 20px;
  font-family: AvertaStdCY, Helvetica, Arial, sans-serif;
  padding-right: 210px;
  
}
.h1{
  text-align: left;
    margin-bottom: 20px;
}

.cta h2 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.cta p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  text-align: justify;
      
}

.cta button {
 height: 42px;
    width: 222px;
    background-color: #31a035;
    border-radius: 5px;
    border: unset;
    outline: unset;
    font-size: inherit !important;
    color: #fff;
    
}

